@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>@ViewData["Title"] - Project5</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project5.styles.css" asp-append-version="true" />
</head>
<body>
<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <!--Start added code-->
            <div class="form-floating mb-3">
                <label asp-for="Input.first_name"></label>
                <input asp-for="Input.first_name" class="form-control" />
                <span asp-validation-for="Input.first_name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.last_name"></label>
                <input asp-for="Input.last_name" class="form-control" />
                <span asp-validation-for="Input.last_name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.entry_year"></label>
                <input asp-for="Input.entry_year" class="form-control" />
                <span asp-validation-for="Input.entry_year" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.s_id"></label>
                <input asp-for="Input.s_id" class="form-control" />
                <span asp-validation-for="Input.s_id" class="text-danger"></span>
            </div>
            <!--End added code-->
            
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            <div>
                <p>
                    <br />
                    <a id="return-login" asp-page="./Login">Return to Login</a>
                </p>
            </div>
        </form>
    </div>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
