@{
    ViewData["Title"] = "Schedule";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project 5</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\accordian.css">
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="\css\table.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="\js\accordian.js" asp-append-version="true"></script>
    <script src="\js\dynamic.js" defer></script>
    <link rel="spreadsheet" href="/lib/jquery-ui-1.13.2.custom/jquery-ui.css"/>
    <script src="/lib/jquery-ui-1.13.2.custom/jquery-ui.js"></script>
</head>
<body>
    <div id="banner">
        Academic Planning
        <button id="logout">Logout</button>
    </div>
    <div id="upper" class="row">
        <div id="reqs" class="quadrant">
            <div id="accordion">
            </div>
        </div>

        <div id="plan" class="quadrant">
            <div id="gridC">
            </div>
        </div>
    </div>

    <div id="lower" class="row">
        <div id="links" class="quadrant">
        </div>

        <div id="finder" class="quadrant">
            <table id="myTable" class="display">
                <thead>
                    <tr>
                        <th>Class Code</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Credits</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</body>
</html>